
.form-container {
    background-color: #d3d3d3;  /* Light grey background */
    border: 1px solid #dee2e6;   /* Border color */
    border-radius: 5px;          /* Rounded corners */
    padding: 20px;               /* Padding inside the div */
    box-shadow: 2px 2px 2px lightgrey;  /* Shadow effect */
    margin-bottom: 20px;         /* Margin at the bottom */
    /*height: 450px;*/
    overflow: auto;              /* Add scroll bar if content is too long */
    width: 100%;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  /* Adjust the space between cards */
}

.large-button {
    font-size: 15px;  /* Larger font size */
    padding: 10px 100px;  /* Larger padding */
}

.right-aligned-buttons {
    display: flex;
    justify-content: end;
    gap: 10px; /* Adjust the space between buttons */
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; /* Adjust the space between buttons */
}

/* style.css */

.now-button {
    background-color: #177199;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px; /* Slightly rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.now-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
}

.save-button {
    background-color: #177199;
    color: white;
    border: none;
    padding: 5px 30px;
    border-radius: 15px;
    width: 100px;
    /* Add more styling as needed */
}

.custom-checklist .form-check-inline {
    width: 20%;  /* Adjust the width as needed */
    min-width: 95px; /* Adjust minimum width as needed */
}
.download-button {
    background-color: #177199;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Custom CSS to style the scrollbar area of the DataTable */
.dash-spreadsheet-container .dash-spreadsheet-inner {
    background-color: #d3d3d3; /* Darker color for the area around the table */
}

/* Styling the scrollbar itself */
::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #888; /* Darker track */
}

::-webkit-scrollbar-thumb {
    background: #555; /* Darker scrollbar thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333; /* Even darker when hovered */
}

.login-container {
    width: 500px;
    /*height: 800px;*/
    margin: 100px auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 15px;
    /*background-color: #f9f9f9;*/
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.settings-container {
    width: 50%;
    margin: 100px auto;
    padding: 20px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 5px;*/
    /*background-color: #f9f9f9;*/
}
/* Custom styling for tabs */
.custom-tabs .tab {
    background-color: #f0f0f0; /* Light background for unselected tabs */
    border: solid 1px #d6d6d6;
    padding: 10px;
}

.custom-tabs .tab--selected {
    background-color: #404040; /* Darker background for selected tab */
    color: #ffffff; /* Light text color for better contrast */
}


/* Hover effect for tabs */
.nav-tabs .nav-link:hover {
    border-color: transparent;
}

button:hover {
    background-color: #0056b3;
}

